<div class="container-home">
  <a href="/products" class="a_banner">
      <div class="container-home-banner-iphone">
          <div>
              <h2>iPhone</h2>
          </div>
      </div>
  </a>
  <a href="/products" class="a_banner">
      <div class="container-home-banner-watch">
          <div>
              <h2>Watch</h2>
          </div>
      </div>
  </a>
  <a href="/products" class="a_banner">
      <div class="container-home-banner-mac">
          <div>
              <h2>Mac</h2>
          </div>
      </div>
  </a>
</div>